{% extends "base_for_reg.html" %}

{% block content_reg %}
<main class="page-content"> 
    <section class="page-container"> 
        <h1>Цены и что в них входит<br>(всё под ключ)</h1> 
        <p>Открыли малый бизнес, но не имеете своего собственного сайта? Ведете бизнес в соц.сетях, но сталкиваетесь с тем, что не все ваши клиенты имеют возможность там зарегистрироватся или просто не хотят этого делать? Вот простое решение!</p>
        
        <h3>(Скидка -20% на первые 3 заказа!)</h3>

        <h3>Сайта-визитка (1-2 страницы)</h3>
        <p>Стильно и по делу – для личного бренда или небольшой компании (От 10000 рублей):</p>
        <ul>
            <li>Шапка, главная информация (предоставляемые услуги и т.д.), подвал (контакты)</li>
            <li>Доменное имя и хост (далее я передаю вам все пароли и вы уже сами этим занимаетесь. Учитывайте, что хостинги не покупаются один раз и на всю жизнь, а арендуются и оплачиваются помесячно).</li>
            <li>Предосталение инструкций по пользованию</li>
        </ul>

        <p>Опционально (за доп.плату):</p>
        <ul>
            <li>Заполнение контентом и/или оптимизация для SEO - до 5000 рублей</li>
            <li>Дизайн - до 10000 рублей</li>
            <li>Возможность сделать формы обратной связи и интеграция их в разнообразные сервисы - 2000+ рублей (Обсуждается. Зависит от того с чем интегрировать. Например простое сообщение на почту о броне столика - 2000 рублей.)</li>
            <li>Иные страницы (Обсуждается, до 5000 рублей за шт)</li>
        </ul>

        <p>Дедлайн: 1-2 недели</p>
    
        <h3>Корпоративный сайт/интернет-магазин</h3>
        <p>Функциональные порталы для бизнеса (От 45000 рублей):</p>
        <ul>
            <li>Шапка, главная информация (предоставляемые услуги и т.д.), подвал (контакты)</li>
            <li>Доменное имя и хост - аренда доменного имени и хоста вкулючаются в первый пункт, далее я передаю вам все пароли и вы уже сами этим занимаетесь. Учитывайте, что хостинги не покупаются один раз и на всю жизнь, а арендуются и оплачиваются помесячно.</li>
            <li>Предосталение инструкций по пользованию - отвечу на любые интерисующие вопросы и так.</li>
            <li>База данных, где будет хранится всё необходимое: пользователи, спосок услуг/товаров</li>
            <li>Страницы с формой регистрации и входа</li>
            <li>Страница отзывов и формы их отправки</li>
            <li>Страница товаров/услуг</li>
            <li>Панель админимстратора с возможностью удалять/блокировать из базы нежелательных пользователей и модерировать страницу отзывов, менять контет страницы услуг/товаров</li>
        </ul>

        <p>Опционально (за доп.плату):</p>
        <ul>
            <li>Заполнение контентом и/или оптимизация для SEO - до 5000 рублей</li>
            <li>Дизайн - до 10000 рублей</li>
            <li>Иные страницы (Обсуждается, до 5000 рублей за шт)</li>
        </ul>

        <p>Дедлайн: 2-4 недели</p>

        <h3>Блог</h3>
        <p>Удобные платформы для ваших историй и статей (От 20000 рублей):</p>
        <ul>
            <li>Шапка, главная информация (Кто вы, о чем блог и т.д.), подвал (контакты)</li>
            <li>База данных, где будет хранится всё необходимое: пользователи, посты и т.д.</li>
            <li>Страницы с формой регистрации и входа</li>
            <li>Страница блога, где будут ваши посты и комментарии к ним (Обсуждается)</li>
            <li>Доменное имя и хост - аренда доменного имени и хоста вкулючаются в первый пункт, далее я передаю вам все пароли и вы уже сами этим занимаетесь. Учитывайте, что хостинги не покупаются один раз и на всю жизнь, а арендуются и оплачиваются помесячно.</li>
            <li>Предосталение инструкций по пользованию - отвечу на любые интерисующие вопросы и так.</li>
            <li>Панель админимстратора с возможностью удалять/блокировать из базы нежелательных пользователей и модерировать страницу блогов (удалять нежелательные комментарии)</li>
        </ul>

        <p>Опционально для обсуждений: <p></p>
        <ul>    
            <li>Заполнение контентом и/или оптимизация для SEO - до 5000 рублей</li>
            <li>Дизайн - до 10000 рублей</li>
            <li>Иные страницы (Обсуждается, до 5000 рублей за шт)</li>
        </ul>

        <p>Дедлайн: 2-4 недели</p>

        <h3>Форум</h3>
        <p>Площадки для общения и создания комьюнити (От 35000 рублей):</p>
        <ul>
            <li>Шапка, главная информация (предоставляемые услуги и т.д.), подвал (контакты) - 10000 рублей</li>
            <li>База данных, где будет хранится всё необходимое: пользователи, посты/темы, комментарии, подписки и т.д.</li>
            <li>Страницы с формой регистрации и входа</li>
            <li>Страница форума, где будут темы и т.д.</li>
            <li>Страница профилей, где будет профиль пользователя и формы для его изменения</li>
            <li>Системы подписчиков, фильтра и поиска тем по форуму</li>
            <li>Доменное имя и хост - аренда доменного имени и хоста вкулючаются в первый пункт, далее я передаю вам все пароли и вы уже сами этим занимаетесь. Учитывайте, что хостинги не покупаются один раз и на всю жизнь, а арендуются и оплачиваются помесячно.</li>
            <li>Предосталение инструкций по пользованию - отвечу на любые интерисующие вопросы и так.</li>
            <li>Панель админимстратора с возможностью удалять/блокировать из базы нежелательных пользователей и модерировать страницы (темы/посты, коментарии)</li>
        </ul>

        <p>Опционально для обсуждений: <p></p>
        <ul>    
            <li>Заполнение контентом и/или оптимизация для SEO - до 5000 рублей (опционально)</li>
            <li>Дизайн - до 10000 рублей (опционально)</li>
            <li>Иные страницы (Обсуждается, до 5000 рублей за шт)</li>
        </ul>

        <p>Дедлайн: 2-4 недели</p>

        <h2>Что мне от вас понадобится</h2>
        <ul>
            <li>Четкие тексты: Информация для каждой страницы (О компании, описание услуг, текст для главной, контактные данные). Пожалуйста, заранее подготовьте финальные тексты без ошибок и опечаток.</li>
            <li>Фотографии и логотип: Качественные изображения, которые вы хотите видеть на сайте, и ваш логотип в хорошем разрешении.</li>
            <li>Пожелания по дизайну/примеры: Если у вас есть предпочтения по цветовой гамме, стилю или примеры сайтов, которые вам нравятся, это очень поможет.</li>
            <li>Доступы (при необходимости): Если требуется размещение на вашем хостинге, данные для доступа (обсуждается индивидуально).</li>
        </ul>

        <p>Будет просто отлично, если у вас уже будет готов текст (контент) и дизайн страниц, это значительно удешевит ваш заказ. Однако учитывайте, что я буду работать строго по предоставленному дизайну и просто так ничего переделывать не стану.</p>
        <p>Если же вы не имеете дизайна и хотетие просто описать мне то, что хотите увидеть, то готовьтесь к неточностям в работе (я, увы, не умею читать мысли).</p>
        
        <h2>Репетитор для вас</h2>
        <p>Я так же предоставляю слуги индивидуальных занятий по языку Python (учитывая мои 3 года практики в данной сфере). Вот, что вы можете получить в итоге:<p>
            <ul>
                <li>Знание основ языка (базовые конструкции и основные термины)</li>
                <li>Знание ООП в Python (Что это, как делается, где и зачем применяется)</li>
                <li>Умение применять эти знания для воплощения своих идей (сайты, игры и т.д.)</li>
            </ul>
        <p>Стоимость: 1200 час</p>
        <p>Так же прошу обратить внимание, что многое зависит именно от Вас и вашего интузиазма. Программирование - это о сидении за компом по 4, 6, 8 часов в попытке "что-то сделать", особенно в самом начале. Если вы ограничитесь только занятиями со мной (по 2-4 час в неделю), то вряд-ли чего-то достигните и за год. Я часто привожу пример с гитарой: "можно ли научится играть на гитаре, делая это по 1-2 часа в неделю? - НЕТ".</p>
    </section>
</main>
{% endblock %}